#root {
  --max-width: min(60ch, 100svw);
  display: grid;
  place-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  /* container-type: normal; */
  width: 100%;
  font-size: 150%;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

#progress {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
  justify-content: center;

  & li {
    & a {
      display: inline-block;
      padding: 0.25rem 0.5rem;
      border: 2px solid currentColor;
    }

    &.known {
      background-color: purple;
      color: color-mix(
        in hsl shorter hue,
        hsl(200 100% 75%),
        currentColor
      )
    }

    &.unknown {
      background-color: currentColor;
      color: color-mix(
        in hsl shorter hue,
        hsl(20 100% 75%),
        currentColor
      )
    }

    &.active {
      background-color: currentColor;
      color: color-mix(
        in hsl shorter hue,
        hsl(133 100% 75%),
        currentColor
      )
    }

    &:hover {
      background-color: currentColor;
      color: color-mix(
        in hsl shorter hue,
        hsl(90 100% 75%),
        currentColor
      )
    }
  }
}

.chosen {
  color: hsl(50, 75%, 45%);
}

.unchosen {
  color: hsla(50, 75%, 45%, 0.5);
}

#question {
  text-align: center;
  max-width: var(--max-width);
  overflow-x: clip;
  text-overflow: ellipsis;
}

.tooltip {
  width: max-content;
  background-color: #444;
  color: white;
  font-size: 90%;
  padding: 0.25rem 0.5rem;
  border-radius: 10%;
}

#prompt {
  & ol {
    list-style: none;

    & .or {
      margin-inline-start: 5rem;
    }
  }

  & label {
    display: block;
    text-align: justify;
    text-indent: -2.5rem;
    margin-inline-start: 3rem;
  }

  & input {
    transform: scale(1.5);
    margin-inline-end: 0.75rem;
  }

  & button {
    border: 2px solid currentColor;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-inline-start: 60%;
    font-size: 15pt;

    &:hover {
      color: black;
      background-color: hsl(90, 100%, 75%);
    }
  }
}

#score ul {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;

  & li {
    display: contents;

    & span {
      padding-inline: 1rem;
    }
  }

  @media (width <= 450px) {
    grid-template-columns: 2fr repeat(2, max-content);
    padding-inline: 0.5rem;
  }
}

#legend {
  max-width: 60%;
  margin: 0 auto;
  border: 2px dotted currentColor;
  padding: 0.5rem;
  margin-block-start: 2rem;
  text-align: justify;

  @media (width <= 600px) {
    max-width: 100%;
  }
}