#root {
  --max-width: min(60ch, 100svw);
  display: grid;
  place-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

h1 {
  text-align: center;
}

#progress {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
  justify-content: center;

  & li {
    & a {
      display: inline-block;
      padding: 0.25rem 0.5rem;
      border: 2px solid currentColor;
    }

    &.known {
      background-color: currentColor;
      color: color-mix(
        in hsl shorter hue,
        hsl(200 100% 75%),
        currentColor
      )
    }

    &.unknown {
      background-color: currentColor;
      color: color-mix(
        in hsl shorter hue,
        hsl(20 100% 75%),
        currentColor
      )
    }

    &.active {
      background-color: currentColor;
      color: color-mix(
        in hsl shorter hue,
        hsl(133 100% 75%),
        currentColor
      )
    }

    &:hover {
      background-color: currentColor;
      color: color-mix(
        in hsl shorter hue,
        hsl(90 100% 75%),
        currentColor
      )
    }
  }
}

.chosen {
  color: hsl(50, 75%, 45%);
}

.unchosen {
  color: hsla(50, 75%, 45%, 0.5);
}

#question {
  text-align: center;
  max-width: var(--max-width);
  overflow-x: clip;
  text-overflow: ellipsis;
}

.tooltip {
  width: max-content;
  background-color: #444;
  color: white;
  font-size: 90%;
  padding: 0.25rem 0.5rem;
  border-radius: 10%;
}

#prompt ol {
  list-style: none;

  & .or {
    margin-inline-start: 2rem;
  }
}